# CakePHP 3

/vendor/*
/config/app.php
/config/app_local.php

/tmp/debug_kit.sqlite
/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty

/logs/*
!/logs/empty

# Mineweb
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.idea

/plugins/*
/templates/Themed/*

/webroot/img/uploads/favicons/*
/webroot/img/uploads/slider/*

/webroot/database.db

.gitmodules
dev.json

/config/update
/config/install.txt
/config/installed.txt
/config/secure.txt
/config/bypass_compatibility
